* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #6cf;
  text-align: center;
}
#correct {
  display: none;
}
header {
  margin: auto;
  width: 50%;
  border: 3px solid red;
  padding: 10px;
}
form {
  margin: auto;
  width: 50%;
  border: 3px solid red;
  padding: 10px;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}